h1 {
  /*main-heading*/
  font-family: "Lobster", cursive;
  color: #e44100;
  font-size: 13.6rem;
  margin: 0 0 1.7rem -1.7rem;
  letter-spacing: -0.5rem;

  /* source:https://wpshout.com/quick-guides/create-text-outline-css/ */
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
}

h2 {
  /*screen-heading*/
  font-size: 5.1rem;
  color: #ff4900;
  margin: 0 0 -1.7rem 1.7rem;
  font-family: "Lobster", cursive;
  /* source:https://wpshout.com/quick-guides/create-text-outline-css/ */
  text-shadow: -1px -1px 0 #353535, 1px -1px 0 #353535, -1px 1px 0 #353535,
    1px 1px 0 #353535;
}

h3 {
  /*card-title*/
  font-size: 1.7rem;
  color: #ff4900;
  font-family: "Questrial", sans-serif;
  text-shadow: -1px -1px 0 #353535, 1px -1px 0 #353535, -1px 1px 0 #353535,
    1px 1px 0 #353535;
}

h4 {
  /*sub-heading*/
  font-size: rem;
  color: white;
  background-color: #70554a;
  padding-left: 1.7rem;
  border-top: #ff4900 2px solid;
  border-bottom: #ff4900 2px solid;
  margin-top: -3.4rem;
  font-family: "Questrial", sans-serif;
  text-shadow: -1px -1px 0 #353535, 1px -1px 0 #353535, -1px 1px 0 #353535,
    1px 1px 0 #353535;
}

body {
  border: #70554a 1px solid;
  background: url("images/background-image.png");
}
.screen {
  background-color: white;
  border: solid #ff4900 2px;
  color: #353535;
  padding: 1.7rem 0;
  margin: 0 0 1.7rem 1.7rem;
  max-width: 22.1in;
}

.card {
  display: inline-block;
}

img {
  border: #e44100 4px dotted;
  border-radius: 4px;
}

img:hover {
  border: #e44100 4px solid;
  box-shadow: #70554a 3px;
  cursor: pointer;
}

.card-body {
  background-color: #353535;
}

.flex-box {
  display: inline-flexbox;
  justify-content: space-evenly;
  margin: 10px;
  /* background-color:#ff4900;
    border-radius:4px; */
  max-width: 13.6in;
}

.card-title {
  padding: 0;
  text-align: center;
}

.icons {
  font-family: "Lobster", cursive;
  color: #e44100;
  font-size: 1rem;
}
